.dpn {
	display: none !important;
}
.d-flex {
	display: flex !important;
}
.d-inline {
	display: inline-block !important;
}

.pointer {
	cursor: pointer !important;
}

.text-black {
	color: #000000 !important;
}
.text-gray {
	color: #777 !important;
}
.text-origin-blue {
	color: #00569f !important;
}
.text-origin-dark-blue {
	color: #003A6C !important;
}
.text-white {
	color: #ffffff;
}

.text-left {
	text-align: left !important;
}
.text-center {
	text-align: center !important;
}
.text-right {
	text-align: right !important;
}

.logo-img {
	max-height: 90px;
	max-width: 100%;
}
.logo-img.sm {
	max-height: 35px;
}
.logo-text {
	font-family: "Source Sans Pro";
}

#nav > a {
	border-bottom-width: 0px;
}
#nav > ul {
	padding-left: 200px;
}

.copy-element > span {
	border-bottom: 1px solid rgba(255, 255, 255, 0);
	transition: border .25s ease;
}

.copy-element > span:hover {
	cursor: pointer;
	border-color: #737373;
}

.font-weight-100 {
	font-weight: 100;
}
.font-weight-500 {
	font-weight: 500;
}
.font-weight-900 {
	font-weight: 900;
}

.font-size-1rem {
	font-size: 1rem !important;
}


.card {
	border: 1px solid #00569f;
	border-radius: 10px;
	padding: 1em;
}

.card-image {}
	.card-image > img {
		width: 100%;
	}
.card-title {
	font-weight: 900;
	font-size: 1.5em;
	line-height: 1.5em;
}
.card-contents {

}
.card-footer {
	margin-top: 1em;
    font-size: 0.8em;
    line-height: 1.2em;
    line-break: anywhere;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
	margin-right: .5rem;
}

.badge-primary {
    color: #fff;
    background-color: #007bff;
}
.badge-secondary {
    color: #fff;
    background-color: #6c757d;
}
.badge-success {
    color: #fff;
    background-color: #28a745;
}
.badge-danger {
    color: #fff;
    background-color: #dc3545;
}
.badge-warning {
    color: #212529;
    background-color: #ffc107;
}
.badge-info {
    color: #fff;
    background-color: #17a2b8;
}
.badge-light {
    color: #212529;
    background-color: #f8f9fa;
}
.badge-dark {
    color: #fff;
    background-color: #343a40;
}

@font-face {
	font-family: 'DSEG7ClassicBold';
	src: url('../webfonts/DSEG7Classic-Bold.woff2') format('woff2'),
		url('../webfonts/DSEG7Classic-Bold.woff') format('woff'),
		url('../webfonts/DSEG7Classic-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@media screen and (max-width: 980px) {
	#header-line {
		display: none !important;
	}
}


#header-line {
	background-color: #ffffff;
	display: flex;
	flex-direction: row-reverse;
}
#header-line > #language-selector{
	display: inline-block;
	margin-right: 1em;
	margin-top: 1em;
	line-height: 1em;
	font-size: 1em;
}
#header-line > #language-selector > ul{
	list-style: none;
	margin: 0;
}

#language-selector > ul > li:hover > a {
	border: 0 !important;
}
#language-selector > ul > li:hover > a:before {
	color: #00569f;
	transition: color .3s ease;
}
#language-selector > ul > li:hover > a > span {
	color: #00569f;
	transition: color .3s ease;
}


#nav-language-selector {
	height: 2em;
	line-height: 2em;
    background: white;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
	font-size: 1.5em;
    /* display: flex;
    justify-content: space-around; */
}


#nav-language-selector > .icon-menu {
	padding: 0em 1em;
	display: block;
	float: left;
	border-right: 1px solid #888;
}

#nav-language-selector > .sub-menu {
	/* flex: 1; */
	/* display: inline-block; */
    display: flex;
    justify-content: space-evenly;
}