.dpn {
	display: none !important;
}
.d-flex {
	display: flex !important;
}
.d-inline {
	display: inline-block !important;
}

.pointer {
	cursor: pointer !important;
}

.text-black {
	color: #000000 !important;
}
.text-gray {
	color: #777 !important;
}
.text-origin-blue {
	color: #00569f !important;
}
.text-origin-dark-blue {
	color: #003A6C !important;
}
.text-white {
	color: #ffffff;
}

.text-left {
	text-align: left !important;
}
.text-center {
	text-align: center !important;
}
.text-right {
	text-align: right !important;
}

.logo-img {
	max-height: 90px;
	max-width: 100%;
}
.logo-img.sm {
	max-height: 35px;
}
.logo-text {
	font-family: "Source Sans Pro";
}

#nav > a {
	border-bottom-width: 0px;
}
#nav > ul {
	padding-left: 200px;
}

.copy-element > span {
	border-bottom: 1px solid rgba(255, 255, 255, 0);
	transition: border .25s ease;
}

.copy-element > span:hover {
	cursor: pointer;
	border-color: #737373;
}

.font-weight-100 {
	font-weight: 100;
}
.font-weight-500 {
	font-weight: 500;
}
.font-weight-900 {
	font-weight: 900;
}

.font-size-1rem {
	font-size: 1rem !important;
}


.card {
	border: 1px solid #00569f;
	border-radius: 10px;
	padding: 1em;
}

.card-image {}
	.card-image > img {
		width: 100%;
	}
.card-title {
	font-weight: 900;
	font-size: 1.5em;
	line-height: 1.5em;
}
.card-contents {

}
.card-footer {
	margin-top: 1em;
    font-size: 0.8em;
    line-height: 1.2em;
    line-break: anywhere;
}

@font-face {
	font-family: 'DSEG7ClassicBold';
	src: url('../webfonts/DSEG7Classic-Bold.woff2') format('woff2'),
		url('../webfonts/DSEG7Classic-Bold.woff') format('woff'),
		url('../webfonts/DSEG7Classic-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}